.custom-input:focus {
  box-shadow: none !important;
  border-color: rgba(128, 99, 172, 1) !important;
  border-radius: 5px;
}

.custom-progress-bar .progress-bar {
  border-radius: 10px; /* half of the height value */
}

.progressBarThin {
  height: 3px;
  background-color: rgba(128, 128, 153, 1);
}

.progressBarThin .progress-bar {
  height: 100%;
  border-radius: 0;
}

.overall-header {
  /* border:1px solid red; */
  border-radius: 10px;
}

.btn-purple {
  color: #fff;
  background-color: rgba(139, 86, 163, 1);
  border-color: rgba(139, 86, 163, 1);
  text-transform: uppercase;
}
/* scrollbar light parameters section2  */
.scrollbar-list {
  list-style: none;
  max-height: 500px;
  overflow-y: auto;
  overflow-x:auto
}

.scrollbar-list::-webkit-scrollbar {
  width: 13px;
 height:13px
}

.scrollbar-list::-webkit-scrollbar-track {
  background-color: rgb(128, 128, 153);
  border-radius: 10px;
}

.scrollbar-list::-webkit-scrollbar-thumb {
  background-color: rgb(128, 128, 153);
  background-image: linear-gradient(to bottom, rgb(0, 126, 167) 15%, rgb(128, 128, 153) 25%);
  border-radius: 10px;
  transition: background-position 0.3s;

}
.scrollbar-list::-webkit-scrollbar:horizontal {
  height: 13px;

}

.scrollbar-list::-webkit-scrollbar-track:horizontal {
  background-color: rgb(128, 128, 153);
  border-radius: 10px;
}

.scrollbar-list::-webkit-scrollbar-thumb:horizontal {
  background-color: rgb(128, 128, 153);
  background-image: linear-gradient(to right, rgb(0, 126, 167) 15%, rgb(128, 128, 153) 25%);
  background-size: 100% 100%;
  border-radius: 10px;
  transition: background-position 0.3s;
}

/*ends-----------------here*/





/* scrollbar black parameters */

.scrollbar-list-black {
  list-style: none;
  max-height: 530px;
  overflow-y: auto;
}

.scrollbar-list-black::-webkit-scrollbar {
  width: 13px;
 
}

.scrollbar-list-black::-webkit-scrollbar-track {
  background-color:#808099;
  border-radius: 10px;
}

.scrollbar-list-black::-webkit-scrollbar-thumb {
  background-color: #808099;
  background-image: linear-gradient(to bottom, rgb(0, 126, 167) 20%, rgb(128, 128, 153) 20%);
  border-radius: 10px;
}

.scrollbar-list-black::-webkit-scrollbar:horizontal {
  height: 13px;

}

.scrollbar-list-black::-webkit-scrollbar-track:horizontal {
  background-color: rgb(128, 128, 153);
  border-radius: 10px;
}

.scrollbar-list-black::-webkit-scrollbar-thumb:horizontal {
  background-color: rgb(128, 128, 153);
  background-image: linear-gradient(to right, rgb(0, 126, 167) 15%, rgb(128, 128, 153) 25%);
  background-size: 100% 100%;
  border-radius: 10px;
  transition: background-position 0.3s;
}
/* ------------------- list1 black ended ----------------*/

/*scrollbar list2 light*/
.scroll-list {
  list-style: none;
  max-height: 150px;
  overflow-y: auto;
}

.scroll-list::-webkit-scrollbar {
  width: 13px;
 
}

.scroll-list::-webkit-scrollbar-track {
  background-color:rgb(128, 128, 153);
  border-radius: 10px;
}

.scroll-list::-webkit-scrollbar-thumb {
  background-color: rgb(128, 128, 153);
  background-image: linear-gradient(to bottom, rgb(0, 126, 167) 20%, rgb(128, 128, 153) 20%);
  border-radius: 5px;
}
.scroll-list::-webkit-scrollbar:horizontal {
  height: 13px;

}

.scroll-list::-webkit-scrollbar-track:horizontal {
  background-color: rgb(128, 128, 153);
  border-radius: 10px;
}

.scroll-list::-webkit-scrollbar-thumb:horizontal {
  background-color: rgb(128, 128, 153);
  background-image: linear-gradient(to right, rgb(0, 126, 167) 15%, rgb(128, 128, 153) 25%);
  background-size: 100% 100%;
  border-radius: 10px;
  transition: background-position 0.3s;
}
/* ------------------- list2 light ended ----------------*/

/*list2 black */
.scroll-list-black {
  list-style: none;
  max-height: 150px;
  overflow-y: auto;
}

.scroll-list-black::-webkit-scrollbar {
  width: 13px;
 
}

.scroll-list-black::-webkit-scrollbar-track {
  background-color :#808099;
  border-radius: 10px;
}

.scroll-list-black::-webkit-scrollbar-thumb {
  /* background-color:  rgba(0,0,51,1); */
  background-image: linear-gradient(to bottom, rgb(0, 126, 167) 20%, rgb(128, 128, 153) 20%);
  border-radius: 5px;
}

.scroll-list-black::-webkit-scrollbar:horizontal {
  height: 13px;

}

.scroll-list-black::-webkit-scrollbar-track:horizontal {
  background-color: rgb(128, 128, 153);
  border-radius: 10px;
}

.scroll-list-black::-webkit-scrollbar-thumb:horizontal {
  background-color: rgb(128, 128, 153);
  background-image: linear-gradient(to right, rgb(0, 126, 167) 15%, rgb(128, 128, 153) 25%);
  background-size: 100% 100%;
  border-radius: 10px;
  transition: background-position 0.3s;
}

.test{

  margin-top: -197px;
}

@media (max-width: 768px) {
  .test {
    color: var(--primary);
    margin-top: -482px;
    padding:0 20px;
  }
}

@media (max-width: 900px) {
  .test {
    color: var(--primary);
    margin-top: -482px;
    padding:0 20px;
  }
}

@media (max-width: 999px) {
  .test {
    color: var(--primary);
    margin-top: -482px;
    padding:0 20px;
  }
}


@media (max-width: 1399px) {
  .Bimg {
    width:350px !important;
margin:0 5px;
/* height:250px !important;
background-color: red; */
  }
}

@media (max-width: 1199px) {
  .Bimg {
    width:300px !important;
margin:0 5px;
/* height:250px !important; */
/* background-color: red; */
  }
}

@media (max-width: 999px) {
  .Bimg {
    width:290px !important;
margin:0 5px;
/* height:250px !important; */
/* background-color: red; */
  }
}

@media (max-width: 768px) {
  .Bimg {
    width:100% !important;
margin:0 5px;
/* height:250px !important; */
/* background-color: red; */
  }
}

